<script setup lang="ts">
import { GroupV2 } from 'quria'

const props = defineProps<{clan?: GroupV2}>()
const emit = defineEmits(['selectClan', 'cancel'])

function close() {
  if (props.clan) {
    emit('cancel')
  }
}

function selectClan(clan: GroupV2) {
  emit('selectClan', {
    name: clan.name,
    id: clan.groupId
  })
}
</script>

<template>
  <div v-if="clan" class="rounded-b-xl shadow-lg shadow-black/50 w-60 md:w-80 absolute top-10 pt-2 z-20" @click.self="close">
    <div v-if="clan" @click="() => selectClan(clan!)"
      class="flex justify-between items-center py-1 px-2 bg-white hover:bg-zinc-100 cursor-pointer rounded-b-xl">
      <span class="flex flex-col">{{ clan.name }} <small class="text-xs">CLAN | {{ clan.memberCount }} Members</small></span>
    </div>
  </div>
</template>
