<script setup lang="ts">
import { FinalShapeDungeonHashes, LightfallDungeonHashes, WitchQueenDungeonHashes } from '../enums/dungeons'
import { Expansions } from '../enums/expansions'
import { ReleaseId } from '../enums/releases'
import { BeyondLightSeasonHashes, FinalShapeEpisodeHashes, LightfallSeasonHashes, ShadowkeepSeasonHashes, WitchQueenSeasonHashes } from '../enums/seasons'

defineProps<{ expansion: ReleaseId, otherClasses?: string }>()
</script>

<template>
  <img v-if="expansion === Expansions.Destiny2" alt="" :class="otherClasses" src="../assets/expansions/destiny2.svg" />
  <img v-if="expansion === Expansions.CurseOfOsiris" alt="" :class="otherClasses" src="../assets/expansions/osiris.svg" />
  <img v-if="expansion === Expansions.Warmind" alt="" :class="otherClasses" src="../assets/expansions/warmind.svg" />
  <img v-if="expansion === Expansions.Forsaken" alt="" :class="otherClasses" src="../assets/expansions/forsaken.svg" />
  <img v-if="expansion === Expansions.AnnualPass" alt="" :class="otherClasses" src="../assets/expansions/annual_pass.svg" />
  <img v-if="expansion === Expansions.Shadowkeep" alt="" :class="otherClasses" src="../assets/expansions/shadowkeep.svg" />
  <img v-if="expansion === ShadowkeepSeasonHashes.Undying" alt="" :class="otherClasses" src="../assets/expansions/undying.svg" />
  <img v-if="expansion === ShadowkeepSeasonHashes.Dawn" alt="" :class="otherClasses" src="../assets/expansions/dawn.svg" />
  <img v-if="expansion === ShadowkeepSeasonHashes.Worthy" alt="" :class="otherClasses" src="../assets/expansions/worthy.svg" />
  <img v-if="expansion === ShadowkeepSeasonHashes.Arrivals" alt="" :class="otherClasses" src="../assets/expansions/arrivals.svg" />
  <img v-if="expansion === Expansions.BeyondLight" alt="" :class="otherClasses" src="../assets/expansions/beyond_light.svg" />
  <img v-if="expansion === BeyondLightSeasonHashes.Hunt" alt="" :class="otherClasses" src="../assets/expansions/hunt.svg" />
  <img v-if="expansion === BeyondLightSeasonHashes.Chosen" alt="" :class="otherClasses" src="../assets/expansions/chosen.svg" />
  <img v-if="expansion === BeyondLightSeasonHashes.Splicer" alt="" :class="otherClasses" src="../assets/expansions/splicer.png" />
  <img v-if="expansion === BeyondLightSeasonHashes.Lost" alt="" :class="otherClasses" src="../assets/expansions/lost.svg" />
  <img v-if="expansion === Expansions.Anniversary30th" alt="" :class="otherClasses" src="../assets/expansions/30thanniversary.png" />
  <img v-if="expansion === Expansions.TheWitchQueen" alt="" :class="otherClasses" src="../assets/expansions/witch_queen.svg" />
  <img v-if="expansion === WitchQueenSeasonHashes.Risen" alt="" :class="otherClasses" src="../assets/expansions/risen.svg" />
  <img v-if="expansion === WitchQueenSeasonHashes.Haunted" alt="" :class="otherClasses" src="../assets/expansions/haunted.png" />
  <img v-if="expansion === WitchQueenSeasonHashes.Plunder" alt="" :class="otherClasses" src="../assets/expansions/plunder.png" />
  <img v-if="expansion === WitchQueenSeasonHashes.Seraph" alt="" :class="otherClasses" src="../assets/expansions/seraph.svg" />
  <img v-if="expansion === WitchQueenDungeonHashes.Duality" alt="" :class="otherClasses" src="../assets/dungeon.png" />
  <img v-if="expansion === WitchQueenDungeonHashes.SpireOfTheWatcher" alt="" :class="otherClasses" src="../assets/dungeon.png" />
  <img v-if="expansion === Expansions.Lightfall" alt="" :class="otherClasses" src="../assets/expansions/lightfall.svg" />
  <img v-if="expansion === LightfallDungeonHashes.GhostsOfTheDeep" alt="" :class="otherClasses" src="../assets/dungeon.png" />
  <img v-if="expansion === LightfallDungeonHashes.WarlordsRuin" alt="" :class="otherClasses" src="../assets/dungeon.png" />
  <img v-if="expansion === LightfallSeasonHashes.Defiance" alt="" :class="otherClasses" src="../assets/expansions/defiance.svg" />
  <img v-if="expansion === LightfallSeasonHashes.Deep" alt="" :class="otherClasses" src="../assets/expansions/deep.svg" />
  <img v-if="expansion === LightfallSeasonHashes.Witch" alt="" :class="otherClasses" src="../assets/expansions/witch.svg" />
  <img v-if="expansion === LightfallSeasonHashes.Wish" alt="" :class="otherClasses" src="../assets/expansions/wish.svg" />
  <img v-if="expansion === Expansions.FinalShape" alt="" :class="otherClasses" src="../assets/expansions/final_shape.svg" />
  <img v-if="expansion === FinalShapeDungeonHashes.VespersHost" alt="" :class="otherClasses" src="../assets/dungeon.png" />
  <img v-if="expansion === FinalShapeDungeonHashes.Unknown27" alt="" :class="otherClasses" src="../assets/dungeon.png" />
  <img v-if="expansion === FinalShapeEpisodeHashes.Echoes" alt="" :class="otherClasses" src="../assets/expansions/echoes.svg" />
  <img v-if="expansion === FinalShapeEpisodeHashes.Revenant" alt="" :class="otherClasses" src="../assets/expansions/revenant.svg" />
  <img v-if="expansion === FinalShapeEpisodeHashes.Heresy" alt="" :class="otherClasses" src="../assets/expansions/redacted.svg" />
</template>