<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 873 169" style="enable-background:new 0 0 873 169;" xml:space="preserve">
    <g class="translate-x-[5.5rem] md:translate-x-0">
      <path style="fill:#FFFFFF;" d="M171.679,84.348v-30.03h6.09v24.948h14.112v5.082H171.679z"/>
      <path style="fill:#FFFFFF;" d="M225.901,80.631c-2.632,2.926-6.132,4.389-10.5,4.389s-7.875-1.463-10.521-4.389
        s-3.969-6.671-3.969-11.235c0-4.563,1.323-8.316,3.969-11.256s6.153-4.41,10.521-4.41s7.868,1.47,10.5,4.41
        c2.631,2.94,3.948,6.692,3.948,11.256C229.849,73.96,228.532,77.705,225.901,80.631z M209.29,77.04
        c1.441,1.989,3.492,2.982,6.153,2.982c2.66,0,4.689-0.987,6.09-2.961c1.4-1.974,2.1-4.529,2.1-7.665c0-3.135-0.7-5.697-2.1-7.686
        c-1.4-1.988-3.43-2.982-6.09-2.982c-2.661,0-4.711,0.994-6.153,2.982c-1.443,1.989-2.163,4.551-2.163,7.686
        C207.127,72.503,207.847,75.052,209.29,77.04z"/>
      <path style="fill:#FFFFFF;" d="M263.911,80.631c-2.632,2.926-6.132,4.389-10.5,4.389s-7.875-1.463-10.521-4.389
        s-3.969-6.671-3.969-11.235c0-4.563,1.323-8.316,3.969-11.256s6.153-4.41,10.521-4.41s7.868,1.47,10.5,4.41
        c2.631,2.94,3.948,6.692,3.948,11.256C267.858,73.96,266.542,77.705,263.911,80.631z M247.3,77.04
        c1.441,1.989,3.492,2.982,6.153,2.982c2.66,0,4.689-0.987,6.09-2.961c1.4-1.974,2.1-4.529,2.1-7.665c0-3.135-0.7-5.697-2.1-7.686
        c-1.4-1.988-3.43-2.982-6.09-2.982c-2.661,0-4.711,0.994-6.153,2.982c-1.443,1.989-2.163,4.551-2.163,7.686
        C245.137,72.503,245.857,75.052,247.3,77.04z"/>
      <path style="fill:#FFFFFF;" d="M276.678,59.442v-5.124h24.15v5.124h-9.03v24.906h-6.09V59.442H276.678z"/>
      <path style="fill:#969696;" d="M310.152,84.348v-6.09h6.132v6.09H310.152z"/>
      <path style="fill:#969696;" d="M327.162,84.348v-30.03h13.776c2.884,0,5.215,0.77,6.993,2.31c1.778,1.541,2.667,3.557,2.667,6.048
        c0,3.836-1.834,6.258-5.502,7.266v0.126c1.428,0.42,2.499,1.085,3.213,1.995c0.714,0.91,1.169,2.262,1.365,4.053
        c0.056,0.672,0.119,1.463,0.189,2.373c0.069,0.91,0.126,1.631,0.168,2.163c0.042,0.532,0.098,1.064,0.168,1.596
        c0.069,0.532,0.168,0.945,0.294,1.239s0.287,0.483,0.483,0.567v0.294h-5.838c-0.112-0.056-0.21-0.161-0.294-0.315
        c-0.084-0.154-0.154-0.371-0.21-0.651c-0.057-0.28-0.105-0.567-0.147-0.861s-0.084-0.672-0.126-1.134s-0.077-0.868-0.105-1.218
        c-0.028-0.35-0.063-0.812-0.105-1.386c-0.042-0.574-0.077-1.029-0.105-1.365c-0.252-3.416-2.212-5.124-5.88-5.124h-4.914v12.054
        H327.162z M333.251,59.231v8.358h6.468c1.596,0,2.82-0.378,3.675-1.134c0.854-0.756,1.281-1.75,1.281-2.982
        c0-1.26-0.406-2.282-1.218-3.066c-0.813-0.784-2.002-1.176-3.57-1.176H333.251z"/>
      <path style="fill:#969696;" d="M361.559,84.348v-30.03h22.092v5.124h-16.002v6.72h14.028v4.998h-14.028v8.106h16.128v5.082H361.559
        z"/>
      <path style="fill:#969696;" d="M394.613,84.348v-30.03h13.188c3.416,0,6.034,0.938,7.854,2.814c1.792,1.848,2.688,4.13,2.688,6.846
        c0,2.856-0.896,5.152-2.688,6.888c-1.792,1.736-4.242,2.604-7.35,2.604h-7.392v10.878H394.613z M400.913,59.61v8.904h6.3
        c1.567,0,2.772-0.399,3.612-1.197c0.84-0.798,1.26-1.897,1.26-3.297c0-1.399-0.42-2.484-1.26-3.255
        c-0.84-0.77-2.016-1.155-3.528-1.155H400.913z"/>
      <path style="fill:#969696;" d="M452.11,80.631c-2.631,2.926-6.131,4.389-10.5,4.389c-4.367,0-7.875-1.463-10.521-4.389
        s-3.969-6.671-3.969-11.235c0-4.563,1.323-8.316,3.969-11.256s6.154-4.41,10.521-4.41c4.369,0,7.869,1.47,10.5,4.41
        c2.633,2.94,3.949,6.692,3.949,11.256C456.06,73.96,454.743,77.705,452.11,80.631z M435.499,77.04
        c1.443,1.989,3.495,2.982,6.155,2.982s4.689-0.987,6.09-2.961c1.398-1.974,2.1-4.529,2.1-7.665c0-3.135-0.701-5.697-2.1-7.686
        c-1.4-1.988-3.43-2.982-6.09-2.982s-4.711,0.994-6.155,2.982c-1.442,1.989-2.162,4.551-2.162,7.686
        C433.336,72.503,434.057,75.052,435.499,77.04z"/>
      <path style="fill:#969696;" d="M466.433,84.348v-30.03h13.776c2.884,0,5.215,0.77,6.993,2.31c1.777,1.541,2.667,3.557,2.667,6.048
        c0,3.836-1.834,6.258-5.502,7.266v0.126c1.428,0.42,2.499,1.085,3.213,1.995c0.714,0.91,1.169,2.262,1.365,4.053
        c0.056,0.672,0.118,1.463,0.188,2.373c0.069,0.91,0.126,1.631,0.168,2.163c0.042,0.532,0.098,1.064,0.168,1.596
        c0.07,0.532,0.168,0.945,0.294,1.239s0.287,0.483,0.483,0.567v0.294h-5.838c-0.112-0.056-0.21-0.161-0.294-0.315
        c-0.084-0.154-0.154-0.371-0.21-0.651c-0.057-0.28-0.105-0.567-0.147-0.861s-0.084-0.672-0.126-1.134s-0.077-0.868-0.104-1.218
        c-0.028-0.35-0.063-0.812-0.105-1.386c-0.042-0.574-0.077-1.029-0.104-1.365c-0.252-3.416-2.213-5.124-5.88-5.124h-4.914v12.054
        H466.433z M472.523,59.231v8.358h6.468c1.596,0,2.82-0.378,3.675-1.134c0.854-0.756,1.281-1.75,1.281-2.982
        c0-1.26-0.406-2.282-1.218-3.066c-0.813-0.784-2.003-1.176-3.57-1.176H472.523z"/>
      <path style="fill:#969696;" d="M499.276,59.442v-5.124h24.15v5.124h-9.03v24.906h-6.09V59.442H499.276z"/>
    </g>
    <g class="-translate-x-[4.575rem] md:translate-x-0">
      <path style="fill:#FFFFFF;" d="M179.432,114.793c-2.198,0-3.857-0.595-4.977-1.785c-1.12-1.189-1.68-3.003-1.68-5.438
        c0-2.395,0.553-4.196,1.659-5.408c1.106-1.21,2.772-1.816,4.998-1.816c0.742,0,1.48,0.092,2.215,0.273
        c0.735,0.182,1.445,0.434,2.132,0.756v2.079c-0.687-0.406-1.369-0.704-2.048-0.893c-0.679-0.189-1.348-0.283-2.005-0.283
        c-1.022,0-1.873,0.182-2.551,0.546c-0.679,0.364-1.184,0.931-1.512,1.701c-0.329,0.77-0.494,1.792-0.494,3.065
        c0,1.246,0.168,2.258,0.504,3.034c0.336,0.777,0.844,1.345,1.523,1.701c0.679,0.357,1.543,0.536,2.593,0.536
        c0.63,0,1.281-0.095,1.953-0.284c0.672-0.188,1.351-0.479,2.037-0.871v2.079c-0.42,0.21-0.875,0.392-1.365,0.546
        c-0.49,0.154-0.987,0.27-1.491,0.347C180.419,114.754,179.922,114.793,179.432,114.793z"/>
      <path style="fill:#FFFFFF;" d="M186.446,114.583V99.589h2.205v6.027L188,105.07c0.546-0.378,1.151-0.683,1.816-0.914
        c0.665-0.23,1.313-0.347,1.943-0.347c0.826,0,1.533,0.145,2.121,0.431c0.588,0.287,1.046,0.742,1.375,1.365
        s0.494,1.438,0.494,2.446v6.531h-2.205v-6.258c0-0.854-0.203-1.505-0.609-1.953c-0.406-0.448-1.008-0.672-1.806-0.672
        c-0.42,0-0.843,0.063-1.271,0.188s-0.829,0.294-1.208,0.504l-0.021,8.19H186.446z"/>
      <path style="fill:#FFFFFF;" d="M203.393,114.898c-1.036,0-1.936-0.21-2.698-0.631c-0.763-0.42-1.352-1.042-1.764-1.868
        c-0.413-0.826-0.62-1.834-0.62-3.024c0-1.834,0.431-3.224,1.292-4.169c0.861-0.944,2.062-1.417,3.602-1.417
        c1.134,0,2.051,0.252,2.751,0.756s1.208,1.208,1.522,2.11c0.315,0.903,0.465,1.957,0.452,3.161h-8.295l-0.063-1.639h6.678
        l-0.525,0.525c-0.042-1.078-0.266-1.865-0.672-2.362c-0.406-0.497-1.043-0.746-1.911-0.746c-0.56,0-1.036,0.116-1.428,0.347
        c-0.392,0.231-0.69,0.623-0.893,1.176c-0.203,0.554-0.305,1.313-0.305,2.279c0,1.176,0.273,2.068,0.819,2.677
        c0.546,0.609,1.351,0.914,2.415,0.914c0.476,0,0.92-0.042,1.333-0.126s0.794-0.192,1.145-0.326c0.35-0.133,0.651-0.262,0.903-0.388
        v2.036c-0.49,0.21-1.043,0.382-1.659,0.515C204.855,114.831,204.163,114.898,203.393,114.898z"/>
      <path style="fill:#FFFFFF;" d="M215.11,114.793c-0.644,0-1.274-0.091-1.89-0.273c-0.616-0.182-1.173-0.479-1.669-0.892
        c-0.498-0.413-0.893-0.967-1.187-1.659c-0.294-0.693-0.441-1.558-0.441-2.594c0-1.063,0.14-1.953,0.42-2.667
        c0.28-0.714,0.665-1.284,1.155-1.712c0.49-0.427,1.046-0.731,1.669-0.913s1.263-0.273,1.921-0.273c0.56,0,1.12,0.053,1.68,0.158
        c0.56,0.104,1.078,0.263,1.554,0.473v1.974c-0.476-0.21-0.953-0.374-1.428-0.493c-0.476-0.119-0.973-0.179-1.491-0.179
        c-1.092,0-1.915,0.272-2.467,0.818c-0.553,0.547-0.83,1.429-0.83,2.646c0,1.26,0.263,2.181,0.788,2.762s1.382,0.871,2.572,0.871
        c0.518,0,1.022-0.066,1.512-0.199c0.49-0.133,0.945-0.298,1.365-0.493v1.974c-0.49,0.224-1.001,0.392-1.533,0.504
        C216.279,114.737,215.712,114.793,215.11,114.793z"/>
      <path style="fill:#FFFFFF;" d="M223.069,114.583h-2.184v-14.532h2.205L223.069,114.583z M224.057,107.758l6.09,6.825h-2.835
        l-4.809-5.355L224.057,107.758z M222.607,108.472l4.305-4.431h2.709l-6.069,5.775L222.607,108.472z"/>
      <path style="fill:#FFFFFF;" d="M240.877,114.583l-3.507-10.542h2.352l2.667,9.009l-0.651,0.126l2.562-9.135h1.827l2.541,8.883
        h-0.525l2.667-8.883h2.268l-3.528,10.542h-2.079l-2.499-8.253l0.399,0.188l-2.415,8.064H240.877z"/>
      <path style="fill:#FFFFFF;" d="M255.262,114.583V99.589h2.205v6.027l-0.651-0.546c0.546-0.378,1.151-0.683,1.816-0.914
        c0.665-0.23,1.313-0.347,1.943-0.347c0.826,0,1.533,0.145,2.121,0.431c0.588,0.287,1.046,0.742,1.375,1.365
        s0.494,1.438,0.494,2.446v6.531h-2.205v-6.258c0-0.854-0.203-1.505-0.609-1.953c-0.406-0.448-1.008-0.672-1.806-0.672
        c-0.42,0-0.843,0.063-1.271,0.188s-0.829,0.294-1.208,0.504l-0.021,8.19H255.262z"/>
      <path style="fill:#FFFFFF;" d="M271.495,114.898c-0.546,0-1.071-0.053-1.575-0.158c-0.504-0.104-0.962-0.283-1.375-0.535
        s-0.742-0.599-0.987-1.04c-0.245-0.44-0.368-0.99-0.368-1.648c0-0.783,0.154-1.428,0.462-1.932
        c0.308-0.504,0.749-0.882,1.323-1.134c0.574-0.252,1.26-0.378,2.058-0.378c0.532,0,1.011,0.042,1.438,0.126
        c0.427,0.084,0.812,0.199,1.155,0.347c0.343,0.146,0.633,0.312,0.872,0.493l0.231,1.449c-0.308-0.21-0.721-0.389-1.239-0.536
        c-0.518-0.146-1.078-0.22-1.68-0.22c-0.798,0-1.404,0.14-1.816,0.42c-0.413,0.28-0.62,0.7-0.62,1.26c0,0.42,0.119,0.76,0.357,1.019
        c0.238,0.259,0.536,0.448,0.893,0.566c0.357,0.119,0.731,0.179,1.124,0.179c0.826,0,1.435-0.056,1.827-0.168
        c0.392-0.111,0.588-0.37,0.588-0.776v-4.41c0-0.742-0.224-1.284-0.672-1.628c-0.448-0.343-1.085-0.515-1.911-0.515
        c-0.588,0-1.197,0.095-1.827,0.284c-0.63,0.188-1.148,0.451-1.554,0.787v-2.058c0.392-0.267,0.962-0.479,1.711-0.641
        c0.749-0.161,1.522-0.242,2.32-0.242c0.392,0,0.788,0.039,1.187,0.116s0.773,0.196,1.124,0.356c0.35,0.161,0.662,0.378,0.935,0.651
        c0.273,0.272,0.486,0.605,0.641,0.997c0.154,0.393,0.231,0.854,0.231,1.387v5.04c0,0.686-0.214,1.214-0.641,1.585
        c-0.427,0.371-1.005,0.623-1.732,0.756C273.245,114.831,272.418,114.898,271.495,114.898z"/>
      <path style="fill:#FFFFFF;" d="M283.212,114.856c-0.952,0-1.705-0.252-2.257-0.757c-0.553-0.504-0.83-1.245-0.83-2.226v-6.006
        h-1.701v-1.827h1.701v-2.94h2.268v2.94h2.562v1.827h-2.562v5.564c0,0.49,0.087,0.858,0.262,1.103
        c0.175,0.245,0.5,0.368,0.977,0.368c0.238,0,0.476-0.032,0.714-0.095c0.238-0.063,0.441-0.144,0.609-0.241v1.952
        c-0.252,0.112-0.536,0.196-0.851,0.253C283.79,114.828,283.492,114.856,283.212,114.856z"/>
      <path style="fill:#FFFFFF;" d="M298.017,114.898c-1.036,0-1.936-0.21-2.698-0.631c-0.763-0.42-1.352-1.042-1.764-1.868
        c-0.413-0.826-0.62-1.834-0.62-3.024c0-1.834,0.431-3.224,1.292-4.169c0.861-0.944,2.062-1.417,3.602-1.417
        c1.134,0,2.051,0.252,2.751,0.756s1.208,1.208,1.522,2.11c0.315,0.903,0.465,1.957,0.452,3.161h-8.295l-0.063-1.639h6.678
        l-0.525,0.525c-0.042-1.078-0.266-1.865-0.672-2.362c-0.406-0.497-1.043-0.746-1.911-0.746c-0.56,0-1.036,0.116-1.428,0.347
        c-0.392,0.231-0.69,0.623-0.893,1.176c-0.203,0.554-0.305,1.313-0.305,2.279c0,1.176,0.273,2.068,0.819,2.677
        c0.546,0.609,1.351,0.914,2.415,0.914c0.476,0,0.92-0.042,1.333-0.126s0.794-0.192,1.145-0.326c0.35-0.133,0.651-0.262,0.903-0.388
        v2.036c-0.49,0.21-1.043,0.382-1.659,0.515C299.48,114.831,298.787,114.898,298.017,114.898z"/>
      <path style="fill:#FFFFFF;" d="M309.756,110.152l-3.213,4.431h-2.394l4.473-5.922L309.756,110.152z M314.586,114.583h-2.688
        l-7.644-10.542h2.667L314.586,114.583z M308.958,108.556l3.255-4.515h2.415l-4.599,6.111L308.958,108.556z"/>
      <path style="fill:#FFFFFF;" d="M320.802,114.898c-1.708,0-2.979-0.483-3.812-1.449s-1.25-2.345-1.25-4.138
        c0-1.903,0.431-3.3,1.292-4.189c0.861-0.889,2.104-1.333,3.728-1.333c1.162,0,2.121,0.214,2.877,0.641
        c0.756,0.427,1.316,1.054,1.68,1.879c0.364,0.826,0.546,1.827,0.546,3.003c0,1.778-0.438,3.154-1.313,4.127
        C323.675,114.412,322.426,114.898,320.802,114.898z M320.781,113.029c0.714,0,1.281-0.158,1.701-0.473
        c0.42-0.315,0.725-0.753,0.914-1.313s0.283-1.204,0.283-1.933c0-0.812-0.098-1.49-0.294-2.036
        c-0.196-0.546-0.504-0.956-0.924-1.229c-0.42-0.273-0.98-0.41-1.68-0.41s-1.26,0.147-1.68,0.441s-0.721,0.714-0.903,1.26
        s-0.273,1.204-0.273,1.974c0,1.163,0.217,2.072,0.651,2.73S319.745,113.029,320.781,113.029z"/>
      <path style="fill:#FFFFFF;" d="M332.184,114.856c-0.952,0-1.705-0.252-2.257-0.757c-0.553-0.504-0.83-1.245-0.83-2.226v-6.006
        h-1.701v-1.827h1.701v-2.94h2.268v2.94h2.562v1.827h-2.562v5.564c0,0.49,0.087,0.858,0.262,1.103
        c0.175,0.245,0.5,0.368,0.977,0.368c0.238,0,0.476-0.032,0.714-0.095c0.238-0.063,0.441-0.144,0.609-0.241v1.952
        c-0.252,0.112-0.536,0.196-0.851,0.253C332.762,114.828,332.464,114.856,332.184,114.856z"/>
      <path style="fill:#FFFFFF;" d="M336.489,102.361v-1.995h2.352v1.995H336.489z M336.552,114.583v-10.479h2.205l0.021,10.479H336.552
        z"/>
      <path style="fill:#FFFFFF;" d="M346.589,114.793c-0.644,0-1.274-0.091-1.89-0.273c-0.616-0.182-1.173-0.479-1.669-0.892
        c-0.498-0.413-0.893-0.967-1.187-1.659c-0.294-0.693-0.441-1.558-0.441-2.594c0-1.063,0.14-1.953,0.42-2.667
        c0.28-0.714,0.665-1.284,1.155-1.712c0.49-0.427,1.046-0.731,1.669-0.913s1.263-0.273,1.921-0.273c0.56,0,1.12,0.053,1.68,0.158
        c0.56,0.104,1.078,0.263,1.554,0.473v1.974c-0.476-0.21-0.953-0.374-1.428-0.493c-0.476-0.119-0.973-0.179-1.491-0.179
        c-1.092,0-1.915,0.272-2.467,0.818c-0.553,0.547-0.83,1.429-0.83,2.646c0,1.26,0.263,2.181,0.788,2.762s1.382,0.871,2.572,0.871
        c0.518,0,1.022-0.066,1.512-0.199c0.49-0.133,0.945-0.298,1.365-0.493v1.974c-0.49,0.224-1.001,0.392-1.533,0.504
        C347.758,114.737,347.191,114.793,346.589,114.793z"/>
      <path style="fill:#FFFFFF;" d="M360.932,114.583l-3.507-10.542h2.352l2.667,9.009l-0.651,0.126l2.562-9.135h1.827l2.541,8.883
        h-0.525l2.667-8.883h2.268l-3.528,10.542h-2.079l-2.499-8.253l0.399,0.188l-2.415,8.064H360.932z"/>
      <path style="fill:#FFFFFF;" d="M379.265,114.898c-1.036,0-1.936-0.21-2.698-0.631c-0.763-0.42-1.352-1.042-1.764-1.868
        c-0.413-0.826-0.62-1.834-0.62-3.024c0-1.834,0.431-3.224,1.292-4.169c0.861-0.944,2.062-1.417,3.602-1.417
        c1.134,0,2.051,0.252,2.751,0.756s1.208,1.208,1.522,2.11c0.315,0.903,0.465,1.957,0.452,3.161h-8.295l-0.063-1.639h6.678
        l-0.525,0.525c-0.042-1.078-0.266-1.865-0.672-2.362c-0.406-0.497-1.043-0.746-1.911-0.746c-0.56,0-1.036,0.116-1.428,0.347
        c-0.392,0.231-0.69,0.623-0.893,1.176c-0.203,0.554-0.305,1.313-0.305,2.279c0,1.176,0.273,2.068,0.819,2.677
        c0.546,0.609,1.351,0.914,2.415,0.914c0.476,0,0.92-0.042,1.333-0.126s0.794-0.192,1.145-0.326c0.35-0.133,0.651-0.262,0.903-0.388
        v2.036c-0.49,0.21-1.043,0.382-1.659,0.515C380.728,114.831,380.035,114.898,379.265,114.898z"/>
      <path style="fill:#FFFFFF;" d="M390.164,114.898c-0.546,0-1.071-0.053-1.575-0.158c-0.504-0.104-0.962-0.283-1.375-0.535
        s-0.742-0.599-0.987-1.04c-0.245-0.44-0.368-0.99-0.368-1.648c0-0.783,0.154-1.428,0.462-1.932
        c0.308-0.504,0.749-0.882,1.323-1.134c0.574-0.252,1.26-0.378,2.058-0.378c0.532,0,1.011,0.042,1.438,0.126
        c0.427,0.084,0.812,0.199,1.155,0.347c0.343,0.146,0.633,0.312,0.872,0.493l0.231,1.449c-0.308-0.21-0.721-0.389-1.239-0.536
        c-0.518-0.146-1.078-0.22-1.68-0.22c-0.798,0-1.404,0.14-1.816,0.42c-0.413,0.28-0.62,0.7-0.62,1.26c0,0.42,0.119,0.76,0.357,1.019
        c0.238,0.259,0.536,0.448,0.893,0.566c0.357,0.119,0.731,0.179,1.124,0.179c0.826,0,1.435-0.056,1.827-0.168
        c0.392-0.111,0.588-0.37,0.588-0.776v-4.41c0-0.742-0.224-1.284-0.672-1.628c-0.448-0.343-1.085-0.515-1.911-0.515
        c-0.588,0-1.197,0.095-1.827,0.284c-0.63,0.188-1.148,0.451-1.554,0.787v-2.058c0.392-0.267,0.962-0.479,1.711-0.641
        c0.749-0.161,1.522-0.242,2.32-0.242c0.392,0,0.788,0.039,1.187,0.116s0.773,0.196,1.124,0.356c0.35,0.161,0.662,0.378,0.935,0.651
        c0.273,0.272,0.486,0.605,0.641,0.997c0.154,0.393,0.231,0.854,0.231,1.387v5.04c0,0.686-0.214,1.214-0.641,1.585
        c-0.427,0.371-1.005,0.623-1.732,0.756C391.914,114.831,391.087,114.898,390.164,114.898z"/>
      <path style="fill:#FFFFFF;" d="M402.931,114.877c-0.266,0-0.595-0.031-0.987-0.095c-0.392-0.063-0.784-0.161-1.176-0.294
        c-0.392-0.133-0.735-0.312-1.029-0.535l0.567-0.714v5.564h-2.184v-12.726c0-0.434,0.136-0.798,0.409-1.092s0.633-0.528,1.082-0.704
        c0.448-0.175,0.941-0.301,1.48-0.378c0.539-0.076,1.074-0.115,1.606-0.115c0.938,0,1.792,0.175,2.562,0.525
        c0.77,0.35,1.386,0.941,1.848,1.774s0.693,1.971,0.693,3.412c0,1.092-0.189,2.041-0.567,2.846s-0.931,1.428-1.659,1.869
        C404.849,114.656,403.967,114.877,402.931,114.877z M402.532,113.029c0.672,0,1.232-0.14,1.68-0.42
        c0.448-0.28,0.784-0.687,1.008-1.219c0.224-0.531,0.336-1.176,0.336-1.932c0-0.7-0.081-1.337-0.241-1.911
        c-0.161-0.574-0.452-1.025-0.872-1.354s-1.022-0.493-1.806-0.493c-0.7,0-1.264,0.073-1.69,0.221
        c-0.427,0.146-0.641,0.36-0.641,0.64v5.859c0.364,0.196,0.735,0.347,1.113,0.451C401.797,112.977,402.168,113.029,402.532,113.029z
        "/>
      <path style="fill:#FFFFFF;" d="M414.859,114.898c-1.708,0-2.979-0.483-3.812-1.449s-1.25-2.345-1.25-4.138
        c0-1.903,0.431-3.3,1.292-4.189c0.861-0.889,2.104-1.333,3.728-1.333c1.162,0,2.121,0.214,2.877,0.641
        c0.756,0.427,1.316,1.054,1.68,1.879c0.364,0.826,0.546,1.827,0.546,3.003c0,1.778-0.438,3.154-1.313,4.127
        C417.733,114.412,416.483,114.898,414.859,114.898z M414.838,113.029c0.714,0,1.281-0.158,1.701-0.473
        c0.42-0.315,0.725-0.753,0.914-1.313s0.283-1.204,0.283-1.933c0-0.812-0.098-1.49-0.294-2.036
        c-0.196-0.546-0.504-0.956-0.924-1.229c-0.42-0.273-0.98-0.41-1.68-0.41s-1.26,0.147-1.68,0.441s-0.721,0.714-0.903,1.26
        s-0.273,1.204-0.273,1.974c0,1.163,0.217,2.072,0.651,2.73S413.802,113.029,414.838,113.029z"/>
      <path style="fill:#FFFFFF;" d="M422.481,104.902c0.308-0.154,0.654-0.298,1.04-0.431c0.385-0.133,0.794-0.249,1.229-0.347
        c0.434-0.098,0.875-0.175,1.322-0.231c0.448-0.056,0.883-0.084,1.303-0.084c0.993,0,1.806,0.137,2.436,0.41
        c0.63,0.272,1.099,0.692,1.407,1.26c0.308,0.567,0.462,1.277,0.462,2.132v6.972h-2.205v-6.678c0-0.266-0.031-0.528-0.095-0.788
        c-0.063-0.259-0.182-0.496-0.356-0.714c-0.176-0.217-0.428-0.389-0.756-0.515c-0.329-0.126-0.76-0.188-1.292-0.188
        c-0.378,0-0.767,0.035-1.165,0.104c-0.399,0.07-0.774,0.168-1.124,0.294v8.484h-2.205V104.902z"/>
      <path style="fill:#FFFFFF;" d="M437.833,114.898c-0.756,0-1.396-0.081-1.921-0.242c-0.525-0.16-1.04-0.36-1.544-0.599v-2.078
        c0.364,0.224,0.721,0.423,1.071,0.598c0.35,0.176,0.717,0.313,1.103,0.41c0.385,0.098,0.815,0.146,1.291,0.146
        c0.603,0,1.074-0.126,1.418-0.378c0.343-0.252,0.515-0.566,0.515-0.945c0-0.321-0.108-0.573-0.326-0.756
        c-0.217-0.182-0.493-0.336-0.829-0.462s-0.687-0.252-1.05-0.378c-0.378-0.098-0.756-0.213-1.134-0.347
        c-0.378-0.133-0.725-0.314-1.04-0.546c-0.314-0.23-0.566-0.528-0.756-0.893c-0.189-0.363-0.283-0.812-0.283-1.344
        c0-0.588,0.118-1.088,0.356-1.501s0.55-0.749,0.935-1.009c0.385-0.259,0.812-0.447,1.281-0.566
        c0.469-0.119,0.927-0.179,1.375-0.179c0.742,0.014,1.348,0.104,1.817,0.273c0.469,0.168,0.927,0.371,1.375,0.608l0.021,1.89
        c-0.505-0.266-0.98-0.496-1.429-0.692s-0.966-0.294-1.554-0.294c-0.546,0-1.001,0.102-1.365,0.305s-0.546,0.5-0.546,0.893
        c0,0.336,0.102,0.602,0.305,0.798s0.469,0.35,0.798,0.462s0.683,0.224,1.061,0.336c0.35,0.112,0.714,0.228,1.092,0.347
        s0.729,0.29,1.05,0.514c0.322,0.225,0.585,0.519,0.788,0.883s0.305,0.84,0.305,1.428c-0.015,0.784-0.221,1.421-0.62,1.911
        c-0.398,0.49-0.921,0.847-1.564,1.07C439.185,114.786,438.52,114.898,437.833,114.898z"/>
      <path style="fill:#FFFFFF;" d="M452.197,118.657c-0.267,0-0.519-0.024-0.757-0.073c-0.237-0.05-0.448-0.109-0.63-0.179v-1.891
        c0.168,0.056,0.336,0.105,0.504,0.147s0.351,0.063,0.547,0.063c0.42,0,0.77-0.112,1.05-0.336c0.279-0.224,0.518-0.546,0.714-0.966
        c0.195-0.42,0.356-0.924,0.482-1.512l0.042,1.092l-4.493-10.962h2.499l3.045,8.316h-0.315l3.003-8.316h2.289l-4.347,11.193
        c-0.351,0.896-0.729,1.592-1.134,2.089c-0.406,0.497-0.823,0.844-1.25,1.04C453.02,118.559,452.603,118.657,452.197,118.657z"/>
      <path style="fill:#FFFFFF;" d="M466.183,114.898c-1.709,0-2.979-0.483-3.812-1.449c-0.833-0.966-1.25-2.345-1.25-4.138
        c0-1.903,0.431-3.3,1.292-4.189c0.86-0.889,2.103-1.333,3.728-1.333c1.161,0,2.121,0.214,2.877,0.641s1.315,1.054,1.68,1.879
        c0.364,0.826,0.546,1.827,0.546,3.003c0,1.778-0.438,3.154-1.313,4.127C469.056,114.412,467.807,114.898,466.183,114.898z
        M466.161,113.029c0.714,0,1.281-0.158,1.701-0.473c0.42-0.315,0.725-0.753,0.913-1.313c0.189-0.56,0.284-1.204,0.284-1.933
        c0-0.812-0.099-1.49-0.294-2.036c-0.196-0.546-0.504-0.956-0.925-1.229c-0.42-0.273-0.979-0.41-1.68-0.41s-1.26,0.147-1.68,0.441
        s-0.722,0.714-0.903,1.26s-0.272,1.204-0.272,1.974c0,1.163,0.217,2.072,0.65,2.73S465.125,113.029,466.161,113.029z"/>
      <path style="fill:#FFFFFF;" d="M478.467,114.898c-0.966,0-1.795-0.158-2.488-0.473c-0.693-0.315-1.229-0.788-1.606-1.418
        s-0.567-1.414-0.567-2.352v-6.615h2.205v6.3c0,0.896,0.2,1.558,0.599,1.984c0.399,0.428,1.019,0.641,1.858,0.641
        s1.46-0.213,1.858-0.641c0.399-0.427,0.599-1.088,0.599-1.984v-6.3h2.121v6.615c0,1.399-0.402,2.457-1.207,3.171
        C481.032,114.541,479.909,114.898,478.467,114.898z"/>
      <path style="fill:#FFFFFF;" d="M486.153,114.583v-9.576c0.182-0.111,0.519-0.266,1.008-0.462c0.49-0.196,1.071-0.367,1.743-0.515
        c0.672-0.146,1.352-0.221,2.037-0.221c0.35,0,0.637,0.028,0.861,0.084c0.224,0.057,0.413,0.119,0.566,0.189v1.764
        c-0.321-0.042-0.658-0.073-1.008-0.094c-0.35-0.021-0.7-0.021-1.05,0c-0.35,0.021-0.693,0.052-1.029,0.094
        s-0.644,0.084-0.924,0.126v8.61H486.153z"/>
      <path style="fill:#FFFFFF;" d="M505.138,114.793c-0.645,0-1.274-0.091-1.891-0.273c-0.616-0.182-1.173-0.479-1.669-0.892
        c-0.497-0.413-0.893-0.967-1.187-1.659c-0.294-0.693-0.441-1.558-0.441-2.594c0-1.063,0.14-1.953,0.42-2.667
        s0.665-1.284,1.155-1.712c0.49-0.427,1.046-0.731,1.67-0.913c0.622-0.182,1.263-0.273,1.921-0.273c0.56,0,1.12,0.053,1.68,0.158
        c0.561,0.104,1.078,0.263,1.555,0.473v1.974c-0.477-0.21-0.952-0.374-1.428-0.493c-0.477-0.119-0.974-0.179-1.491-0.179
        c-1.092,0-1.915,0.272-2.468,0.818c-0.553,0.547-0.829,1.429-0.829,2.646c0,1.26,0.262,2.181,0.787,2.762s1.383,0.871,2.572,0.871
        c0.518,0,1.022-0.066,1.513-0.199c0.489-0.133,0.944-0.298,1.364-0.493v1.974c-0.49,0.224-1.001,0.392-1.532,0.504
        C506.307,114.737,505.739,114.793,505.138,114.793z"/>
      <path style="fill:#FFFFFF;" d="M513.096,114.583h-2.185v-14.532h2.185V114.583z"/>
      <path style="fill:#FFFFFF;" d="M520.025,114.898c-0.546,0-1.071-0.053-1.575-0.158c-0.504-0.104-0.963-0.283-1.375-0.535
        c-0.413-0.252-0.742-0.599-0.987-1.04c-0.245-0.44-0.367-0.99-0.367-1.648c0-0.783,0.153-1.428,0.462-1.932
        c0.308-0.504,0.749-0.882,1.323-1.134c0.573-0.252,1.26-0.378,2.058-0.378c0.532,0,1.011,0.042,1.438,0.126
        c0.427,0.084,0.812,0.199,1.155,0.347c0.343,0.146,0.633,0.312,0.871,0.493l0.231,1.449c-0.309-0.21-0.722-0.389-1.239-0.536
        c-0.519-0.146-1.078-0.22-1.68-0.22c-0.799,0-1.404,0.14-1.817,0.42s-0.619,0.7-0.619,1.26c0,0.42,0.119,0.76,0.357,1.019
        c0.237,0.259,0.535,0.448,0.893,0.566c0.356,0.119,0.731,0.179,1.123,0.179c0.826,0,1.435-0.056,1.827-0.168
        c0.392-0.111,0.588-0.37,0.588-0.776v-4.41c0-0.742-0.224-1.284-0.672-1.628c-0.448-0.343-1.085-0.515-1.911-0.515
        c-0.588,0-1.197,0.095-1.827,0.284c-0.63,0.188-1.147,0.451-1.554,0.787v-2.058c0.392-0.267,0.962-0.479,1.711-0.641
        s1.523-0.242,2.321-0.242c0.392,0,0.787,0.039,1.187,0.116c0.398,0.077,0.773,0.196,1.123,0.356
        c0.35,0.161,0.661,0.378,0.935,0.651c0.273,0.272,0.486,0.605,0.641,0.997c0.153,0.393,0.23,0.854,0.23,1.387v5.04
        c0,0.686-0.213,1.214-0.64,1.585c-0.428,0.371-1.005,0.623-1.733,0.756C521.775,114.831,520.949,114.898,520.025,114.898z"/>
      <path style="fill:#FFFFFF;" d="M527.984,104.902c0.308-0.154,0.654-0.298,1.04-0.431c0.385-0.133,0.794-0.249,1.229-0.347
        c0.434-0.098,0.875-0.175,1.322-0.231c0.448-0.056,0.883-0.084,1.303-0.084c0.993,0,1.806,0.137,2.436,0.41
        c0.63,0.272,1.099,0.692,1.407,1.26c0.308,0.567,0.462,1.277,0.462,2.132v6.972h-2.205v-6.678c0-0.266-0.031-0.528-0.095-0.788
        c-0.063-0.259-0.182-0.496-0.356-0.714c-0.176-0.217-0.428-0.389-0.756-0.515c-0.329-0.126-0.76-0.188-1.292-0.188
        c-0.378,0-0.767,0.035-1.165,0.104c-0.399,0.07-0.774,0.168-1.124,0.294v8.484h-2.205V104.902z"/>
      <path style="fill:#FFFFFF;" d="M549.426,107.611v6.972h-2.205v-6.678c0-0.266-0.032-0.528-0.095-0.788
        c-0.063-0.259-0.183-0.496-0.357-0.714c-0.175-0.217-0.427-0.389-0.756-0.515s-0.76-0.188-1.291-0.188
        c-0.378,0-0.757,0.035-1.135,0.104c-0.378,0.07-0.742,0.168-1.092,0.294v8.484h-2.205v-9.681c0.308-0.154,0.654-0.298,1.04-0.431
        c0.385-0.133,0.794-0.249,1.229-0.347c0.434-0.098,0.875-0.175,1.322-0.231c0.448-0.056,0.883-0.084,1.303-0.084
        c0.993,0,1.799,0.137,2.415,0.41c0.615,0.272,1.074,0.692,1.375,1.26S549.426,106.757,549.426,107.611z M546.905,105.448
        c0.448-0.364,0.941-0.665,1.48-0.903s1.099-0.42,1.68-0.546s1.151-0.189,1.712-0.189c0.994,0,1.799,0.137,2.415,0.41
        c0.616,0.272,1.074,0.692,1.375,1.26c0.302,0.567,0.452,1.277,0.452,2.132v6.972h-2.205v-6.678c0-0.266-0.031-0.528-0.095-0.788
        c-0.063-0.259-0.182-0.496-0.356-0.714c-0.176-0.217-0.428-0.389-0.757-0.515s-0.759-0.188-1.291-0.188
        c-0.378,0-0.756,0.056-1.134,0.168s-0.742,0.287-1.093,0.524L546.905,105.448z"/>
      <path style="fill:#FFFFFF;" d="M562.949,114.898c-0.546,0-1.071-0.053-1.575-0.158c-0.504-0.104-0.963-0.283-1.375-0.535
        c-0.413-0.252-0.742-0.599-0.987-1.04c-0.245-0.44-0.367-0.99-0.367-1.648c0-0.783,0.153-1.428,0.462-1.932
        c0.308-0.504,0.749-0.882,1.323-1.134c0.573-0.252,1.26-0.378,2.058-0.378c0.532,0,1.011,0.042,1.438,0.126
        c0.427,0.084,0.812,0.199,1.155,0.347c0.343,0.146,0.633,0.312,0.871,0.493l0.231,1.449c-0.309-0.21-0.722-0.389-1.239-0.536
        c-0.519-0.146-1.078-0.22-1.68-0.22c-0.799,0-1.404,0.14-1.817,0.42s-0.619,0.7-0.619,1.26c0,0.42,0.119,0.76,0.357,1.019
        c0.237,0.259,0.535,0.448,0.893,0.566c0.356,0.119,0.731,0.179,1.123,0.179c0.826,0,1.435-0.056,1.827-0.168
        c0.392-0.111,0.588-0.37,0.588-0.776v-4.41c0-0.742-0.224-1.284-0.672-1.628c-0.448-0.343-1.085-0.515-1.911-0.515
        c-0.588,0-1.197,0.095-1.827,0.284c-0.63,0.188-1.147,0.451-1.554,0.787v-2.058c0.392-0.267,0.962-0.479,1.711-0.641
        s1.523-0.242,2.321-0.242c0.392,0,0.787,0.039,1.187,0.116c0.398,0.077,0.773,0.196,1.123,0.356
        c0.35,0.161,0.661,0.378,0.935,0.651c0.273,0.272,0.486,0.605,0.641,0.997c0.153,0.393,0.23,0.854,0.23,1.387v5.04
        c0,0.686-0.213,1.214-0.64,1.585c-0.428,0.371-1.005,0.623-1.733,0.756C564.699,114.831,563.873,114.898,562.949,114.898z"/>
      <path style="fill:#FFFFFF;" d="M574.667,114.856c-0.953,0-1.705-0.252-2.258-0.757c-0.554-0.504-0.83-1.245-0.83-2.226v-6.006h-1.7
        v-1.827h1.7v-2.94h2.269v2.94h2.562v1.827h-2.562v5.564c0,0.49,0.087,0.858,0.263,1.103c0.175,0.245,0.5,0.368,0.977,0.368
        c0.237,0,0.476-0.032,0.714-0.095c0.237-0.063,0.44-0.144,0.608-0.241v1.952c-0.252,0.112-0.535,0.196-0.851,0.253
        C575.244,114.828,574.946,114.856,574.667,114.856z"/>
      <path style="fill:#FFFFFF;" d="M583.508,114.898c-1.036,0-1.936-0.21-2.698-0.631c-0.764-0.42-1.352-1.042-1.764-1.868
        c-0.413-0.826-0.62-1.834-0.62-3.024c0-1.834,0.431-3.224,1.292-4.169c0.86-0.944,2.061-1.417,3.602-1.417
        c1.134,0,2.051,0.252,2.751,0.756c0.699,0.504,1.207,1.208,1.522,2.11c0.314,0.903,0.465,1.957,0.451,3.161h-8.295l-0.063-1.639
        h6.679l-0.525,0.525c-0.042-1.078-0.266-1.865-0.672-2.362s-1.043-0.746-1.911-0.746c-0.56,0-1.036,0.116-1.428,0.347
        c-0.393,0.231-0.689,0.623-0.893,1.176c-0.203,0.554-0.305,1.313-0.305,2.279c0,1.176,0.273,2.068,0.819,2.677
        c0.546,0.609,1.351,0.914,2.415,0.914c0.476,0,0.92-0.042,1.333-0.126s0.795-0.192,1.145-0.326c0.35-0.133,0.651-0.262,0.903-0.388
        v2.036c-0.49,0.21-1.043,0.382-1.659,0.515S584.277,114.898,583.508,114.898z"/>
      <path style="fill:#FFFFFF;" d="M593.629,114.898c-0.756,0-1.396-0.081-1.921-0.242c-0.525-0.16-1.04-0.36-1.544-0.599v-2.078
        c0.364,0.224,0.721,0.423,1.071,0.598c0.35,0.176,0.717,0.313,1.103,0.41c0.385,0.098,0.815,0.146,1.291,0.146
        c0.603,0,1.074-0.126,1.418-0.378c0.343-0.252,0.515-0.566,0.515-0.945c0-0.321-0.108-0.573-0.326-0.756
        c-0.217-0.182-0.493-0.336-0.829-0.462s-0.687-0.252-1.05-0.378c-0.378-0.098-0.756-0.213-1.134-0.347
        c-0.378-0.133-0.725-0.314-1.04-0.546c-0.314-0.23-0.566-0.528-0.756-0.893c-0.189-0.363-0.283-0.812-0.283-1.344
        c0-0.588,0.118-1.088,0.356-1.501s0.55-0.749,0.935-1.009c0.385-0.259,0.812-0.447,1.281-0.566
        c0.469-0.119,0.927-0.179,1.375-0.179c0.742,0.014,1.348,0.104,1.817,0.273c0.469,0.168,0.927,0.371,1.375,0.608l0.021,1.89
        c-0.505-0.266-0.98-0.496-1.429-0.692s-0.966-0.294-1.554-0.294c-0.546,0-1.001,0.102-1.365,0.305s-0.546,0.5-0.546,0.893
        c0,0.336,0.102,0.602,0.305,0.798s0.469,0.35,0.798,0.462s0.683,0.224,1.061,0.336c0.35,0.112,0.714,0.228,1.092,0.347
        s0.729,0.29,1.05,0.514c0.322,0.225,0.585,0.519,0.788,0.883s0.305,0.84,0.305,1.428c-0.015,0.784-0.221,1.421-0.62,1.911
        c-0.398,0.49-0.921,0.847-1.564,1.07C594.98,114.786,594.315,114.898,593.629,114.898z"/>
      <path style="fill:#FFFFFF;" d="M610.178,114.898c-0.546,0-1.071-0.053-1.575-0.158c-0.504-0.104-0.963-0.283-1.375-0.535
        c-0.413-0.252-0.742-0.599-0.987-1.04c-0.245-0.44-0.367-0.99-0.367-1.648c0-0.783,0.153-1.428,0.462-1.932
        c0.308-0.504,0.749-0.882,1.323-1.134c0.573-0.252,1.26-0.378,2.058-0.378c0.532,0,1.011,0.042,1.438,0.126
        c0.427,0.084,0.812,0.199,1.155,0.347c0.343,0.146,0.633,0.312,0.871,0.493l0.231,1.449c-0.309-0.21-0.722-0.389-1.239-0.536
        c-0.519-0.146-1.078-0.22-1.68-0.22c-0.799,0-1.404,0.14-1.817,0.42s-0.619,0.7-0.619,1.26c0,0.42,0.119,0.76,0.357,1.019
        c0.237,0.259,0.535,0.448,0.893,0.566c0.356,0.119,0.731,0.179,1.123,0.179c0.826,0,1.435-0.056,1.827-0.168
        c0.392-0.111,0.588-0.37,0.588-0.776v-4.41c0-0.742-0.224-1.284-0.672-1.628c-0.448-0.343-1.085-0.515-1.911-0.515
        c-0.588,0-1.197,0.095-1.827,0.284c-0.63,0.188-1.147,0.451-1.554,0.787v-2.058c0.392-0.267,0.962-0.479,1.711-0.641
        s1.523-0.242,2.321-0.242c0.392,0,0.787,0.039,1.187,0.116c0.398,0.077,0.773,0.196,1.123,0.356
        c0.35,0.161,0.661,0.378,0.935,0.651c0.273,0.272,0.486,0.605,0.641,0.997c0.153,0.393,0.23,0.854,0.23,1.387v5.04
        c0,0.686-0.213,1.214-0.64,1.585c-0.428,0.371-1.005,0.623-1.733,0.756C611.928,114.831,611.102,114.898,610.178,114.898z"/>
      <path style="fill:#FFFFFF;" d="M618.136,114.583v-9.576c0.182-0.111,0.519-0.266,1.008-0.462c0.49-0.196,1.071-0.367,1.743-0.515
        c0.672-0.146,1.352-0.221,2.037-0.221c0.35,0,0.637,0.028,0.861,0.084c0.224,0.057,0.413,0.119,0.566,0.189v1.764
        c-0.321-0.042-0.658-0.073-1.008-0.094c-0.35-0.021-0.7-0.021-1.05,0c-0.35,0.021-0.693,0.052-1.029,0.094
        s-0.644,0.084-0.924,0.126v8.61H618.136z"/>
      <path style="fill:#FFFFFF;" d="M630.463,114.898c-1.036,0-1.936-0.21-2.698-0.631c-0.764-0.42-1.352-1.042-1.764-1.868
        c-0.413-0.826-0.62-1.834-0.62-3.024c0-1.834,0.431-3.224,1.292-4.169c0.86-0.944,2.061-1.417,3.602-1.417
        c1.134,0,2.051,0.252,2.751,0.756c0.699,0.504,1.207,1.208,1.522,2.11c0.314,0.903,0.465,1.957,0.451,3.161h-8.295l-0.063-1.639
        h6.679l-0.525,0.525c-0.042-1.078-0.266-1.865-0.672-2.362s-1.043-0.746-1.911-0.746c-0.56,0-1.036,0.116-1.428,0.347
        c-0.393,0.231-0.689,0.623-0.893,1.176c-0.203,0.554-0.305,1.313-0.305,2.279c0,1.176,0.273,2.068,0.819,2.677
        c0.546,0.609,1.351,0.914,2.415,0.914c0.476,0,0.92-0.042,1.333-0.126s0.795-0.192,1.145-0.326c0.35-0.133,0.651-0.262,0.903-0.388
        v2.036c-0.49,0.21-1.043,0.382-1.659,0.515S631.232,114.898,630.463,114.898z"/>
      <path style="fill:#FFFFFF;" d="M652.639,107.611v6.972h-2.205v-6.678c0-0.266-0.032-0.528-0.095-0.788
        c-0.063-0.259-0.183-0.496-0.357-0.714c-0.175-0.217-0.427-0.389-0.756-0.515s-0.76-0.188-1.291-0.188
        c-0.378,0-0.757,0.035-1.135,0.104c-0.378,0.07-0.742,0.168-1.092,0.294v8.484h-2.205v-9.681c0.308-0.154,0.654-0.298,1.04-0.431
        c0.385-0.133,0.794-0.249,1.229-0.347c0.434-0.098,0.875-0.175,1.322-0.231c0.448-0.056,0.883-0.084,1.303-0.084
        c0.993,0,1.799,0.137,2.415,0.41c0.615,0.272,1.074,0.692,1.375,1.26S652.639,106.757,652.639,107.611z M650.118,105.448
        c0.448-0.364,0.941-0.665,1.48-0.903s1.099-0.42,1.68-0.546s1.151-0.189,1.712-0.189c0.994,0,1.799,0.137,2.415,0.41
        c0.616,0.272,1.074,0.692,1.375,1.26c0.302,0.567,0.452,1.277,0.452,2.132v6.972h-2.205v-6.678c0-0.266-0.031-0.528-0.095-0.788
        c-0.063-0.259-0.182-0.496-0.356-0.714c-0.176-0.217-0.428-0.389-0.757-0.515s-0.759-0.188-1.291-0.188
        c-0.378,0-0.756,0.056-1.134,0.168s-0.742,0.287-1.093,0.524L650.118,105.448z"/>
      <path style="fill:#FFFFFF;" d="M662.34,102.361v-1.995h2.353v1.995H662.34z M662.403,114.583v-10.479h2.205l0.021,10.479H662.403z"
        />
      <path style="fill:#FFFFFF;" d="M670.845,114.898c-0.756,0-1.396-0.081-1.921-0.242c-0.525-0.16-1.04-0.36-1.544-0.599v-2.078
        c0.364,0.224,0.721,0.423,1.071,0.598c0.35,0.176,0.717,0.313,1.103,0.41c0.385,0.098,0.815,0.146,1.291,0.146
        c0.603,0,1.074-0.126,1.418-0.378c0.343-0.252,0.515-0.566,0.515-0.945c0-0.321-0.108-0.573-0.326-0.756
        c-0.217-0.182-0.493-0.336-0.829-0.462s-0.687-0.252-1.05-0.378c-0.378-0.098-0.756-0.213-1.134-0.347
        c-0.378-0.133-0.725-0.314-1.04-0.546c-0.314-0.23-0.566-0.528-0.756-0.893c-0.189-0.363-0.283-0.812-0.283-1.344
        c0-0.588,0.118-1.088,0.356-1.501s0.55-0.749,0.935-1.009c0.385-0.259,0.812-0.447,1.281-0.566
        c0.469-0.119,0.927-0.179,1.375-0.179c0.742,0.014,1.348,0.104,1.817,0.273c0.469,0.168,0.927,0.371,1.375,0.608l0.021,1.89
        c-0.505-0.266-0.98-0.496-1.429-0.692s-0.966-0.294-1.554-0.294c-0.546,0-1.001,0.102-1.365,0.305s-0.546,0.5-0.546,0.893
        c0,0.336,0.102,0.602,0.305,0.798s0.469,0.35,0.798,0.462s0.683,0.224,1.061,0.336c0.35,0.112,0.714,0.228,1.092,0.347
        s0.729,0.29,1.05,0.514c0.322,0.225,0.585,0.519,0.788,0.883s0.305,0.84,0.305,1.428c-0.015,0.784-0.221,1.421-0.62,1.911
        c-0.398,0.49-0.921,0.847-1.564,1.07C672.196,114.786,671.531,114.898,670.845,114.898z"/>
      <path style="fill:#FFFFFF;" d="M680.651,114.898c-0.756,0-1.396-0.081-1.921-0.242c-0.525-0.16-1.04-0.36-1.544-0.599v-2.078
        c0.364,0.224,0.721,0.423,1.071,0.598c0.35,0.176,0.717,0.313,1.103,0.41c0.385,0.098,0.815,0.146,1.291,0.146
        c0.603,0,1.074-0.126,1.418-0.378c0.343-0.252,0.515-0.566,0.515-0.945c0-0.321-0.108-0.573-0.326-0.756
        c-0.217-0.182-0.493-0.336-0.829-0.462s-0.687-0.252-1.05-0.378c-0.378-0.098-0.756-0.213-1.134-0.347
        c-0.378-0.133-0.725-0.314-1.04-0.546c-0.314-0.23-0.566-0.528-0.756-0.893c-0.189-0.363-0.283-0.812-0.283-1.344
        c0-0.588,0.118-1.088,0.356-1.501s0.55-0.749,0.935-1.009c0.385-0.259,0.812-0.447,1.281-0.566
        c0.469-0.119,0.927-0.179,1.375-0.179c0.742,0.014,1.348,0.104,1.817,0.273c0.469,0.168,0.927,0.371,1.375,0.608l0.021,1.89
        c-0.505-0.266-0.98-0.496-1.429-0.692s-0.966-0.294-1.554-0.294c-0.546,0-1.001,0.102-1.365,0.305s-0.546,0.5-0.546,0.893
        c0,0.336,0.102,0.602,0.305,0.798s0.469,0.35,0.798,0.462s0.683,0.224,1.061,0.336c0.35,0.112,0.714,0.228,1.092,0.347
        s0.729,0.29,1.05,0.514c0.322,0.225,0.585,0.519,0.788,0.883s0.305,0.84,0.305,1.428c-0.015,0.784-0.221,1.421-0.62,1.911
        c-0.398,0.49-0.921,0.847-1.564,1.07C682.003,114.786,681.338,114.898,680.651,114.898z"/>
      <path style="fill:#FFFFFF;" d="M687.414,102.361v-1.995h2.353v1.995H687.414z M687.478,114.583v-10.479h2.205l0.021,10.479H687.478
        z"/>
      <path style="fill:#FFFFFF;" d="M692.874,104.902c0.308-0.154,0.654-0.298,1.04-0.431c0.385-0.133,0.794-0.249,1.229-0.347
        c0.434-0.098,0.875-0.175,1.322-0.231c0.448-0.056,0.883-0.084,1.303-0.084c0.993,0,1.806,0.137,2.436,0.41
        c0.63,0.272,1.099,0.692,1.407,1.26c0.308,0.567,0.462,1.277,0.462,2.132v6.972h-2.205v-6.678c0-0.266-0.031-0.528-0.095-0.788
        c-0.063-0.259-0.182-0.496-0.356-0.714c-0.176-0.217-0.428-0.389-0.756-0.515c-0.329-0.126-0.76-0.188-1.292-0.188
        c-0.378,0-0.767,0.035-1.165,0.104c-0.399,0.07-0.774,0.168-1.124,0.294v8.484h-2.205V104.902z"/>
      <path style="fill:#FFFFFF;" d="M709.359,114.898c-1.022-0.015-1.887-0.229-2.594-0.641c-0.707-0.413-1.239-1.012-1.596-1.796
        c-0.357-0.784-0.536-1.735-0.536-2.855c0-1.19,0.15-2.163,0.452-2.92c0.301-0.756,0.714-1.344,1.238-1.764
        c0.525-0.42,1.12-0.71,1.785-0.871s1.354-0.242,2.068-0.242c0.756,0,1.442,0.099,2.059,0.295c0.615,0.195,1.112,0.493,1.49,0.892
        c0.378,0.399,0.567,0.914,0.567,1.544v8.358c0,0.56-0.088,1.081-0.263,1.564c-0.175,0.482-0.455,0.913-0.84,1.291
        s-0.893,0.672-1.522,0.882s-1.4,0.315-2.31,0.315c-0.729,0-1.38-0.06-1.953-0.179c-0.574-0.119-1.05-0.241-1.429-0.367v-2.017
        c0.225,0.084,0.505,0.175,0.841,0.273c0.336,0.098,0.71,0.186,1.123,0.263c0.413,0.076,0.837,0.115,1.271,0.115
        c0.826,0,1.445-0.105,1.858-0.315s0.689-0.479,0.83-0.808c0.14-0.33,0.21-0.683,0.21-1.061v-1.597l0.588,0.483
        c-0.252,0.21-0.564,0.402-0.935,0.577c-0.371,0.176-0.764,0.315-1.176,0.42C710.175,114.846,709.765,114.898,709.359,114.898z
        M709.716,113.113c0.406,0,0.819-0.053,1.239-0.158c0.42-0.104,0.805-0.262,1.155-0.472v-5.523c0-0.364-0.095-0.633-0.284-0.809
        c-0.188-0.175-0.444-0.297-0.767-0.367s-0.665-0.105-1.028-0.105c-0.854,0-1.509,0.172-1.964,0.515
        c-0.455,0.344-0.767,0.809-0.935,1.396s-0.252,1.239-0.252,1.953c0,1.064,0.231,1.925,0.693,2.583S708.75,113.113,709.716,113.113z
        "/>
      <path style="fill:#FFFFFF;" d="M727.818,114.898c-1.709,0-2.979-0.483-3.812-1.449c-0.833-0.966-1.25-2.345-1.25-4.138
        c0-1.903,0.431-3.3,1.292-4.189c0.86-0.889,2.103-1.333,3.728-1.333c1.161,0,2.121,0.214,2.877,0.641s1.315,1.054,1.68,1.879
        c0.364,0.826,0.546,1.827,0.546,3.003c0,1.778-0.438,3.154-1.313,4.127C730.691,114.412,729.442,114.898,727.818,114.898z
        M727.797,113.029c0.714,0,1.281-0.158,1.701-0.473c0.42-0.315,0.725-0.753,0.913-1.313c0.189-0.56,0.284-1.204,0.284-1.933
        c0-0.812-0.099-1.49-0.294-2.036c-0.196-0.546-0.504-0.956-0.925-1.229c-0.42-0.273-0.979-0.41-1.68-0.41s-1.26,0.147-1.68,0.441
        s-0.722,0.714-0.903,1.26s-0.272,1.204-0.272,1.974c0,1.163,0.217,2.072,0.65,2.73S726.761,113.029,727.797,113.029z"/>
      <path style="fill:#FFFFFF;" d="M735.44,104.902c0.308-0.154,0.654-0.298,1.04-0.431c0.385-0.133,0.794-0.249,1.229-0.347
        c0.434-0.098,0.875-0.175,1.322-0.231c0.448-0.056,0.883-0.084,1.303-0.084c0.993,0,1.806,0.137,2.436,0.41
        c0.63,0.272,1.099,0.692,1.407,1.26c0.308,0.567,0.462,1.277,0.462,2.132v6.972h-2.205v-6.678c0-0.266-0.031-0.528-0.095-0.788
        c-0.063-0.259-0.182-0.496-0.356-0.714c-0.176-0.217-0.428-0.389-0.756-0.515c-0.329-0.126-0.76-0.188-1.292-0.188
        c-0.378,0-0.767,0.035-1.165,0.104c-0.399,0.07-0.774,0.168-1.124,0.294v8.484h-2.205V104.902z"/>
      <path style="fill:#FFFFFF;" d="M753.815,114.583v-14.007h4.914c2.268,0,3.955,0.588,5.061,1.764
        c1.106,1.176,1.659,2.919,1.659,5.229c0,2.31-0.553,4.057-1.659,5.239c-1.105,1.184-2.793,1.774-5.061,1.774H753.815z
        M756.125,112.63h2.373c1.568,0,2.723-0.402,3.465-1.207c0.742-0.806,1.113-2.09,1.113-3.854c0-1.75-0.371-3.031-1.113-3.844
        c-0.742-0.812-1.896-1.218-3.465-1.218h-2.373V112.63z"/>
      <path style="fill:#FFFFFF;" d="M772.652,114.898c-1.036,0-1.936-0.21-2.698-0.631c-0.764-0.42-1.352-1.042-1.764-1.868
        c-0.413-0.826-0.62-1.834-0.62-3.024c0-1.834,0.431-3.224,1.292-4.169c0.86-0.944,2.061-1.417,3.602-1.417
        c1.134,0,2.051,0.252,2.751,0.756c0.699,0.504,1.207,1.208,1.522,2.11c0.314,0.903,0.465,1.957,0.451,3.161h-8.295l-0.063-1.639
        h6.679l-0.525,0.525c-0.042-1.078-0.266-1.865-0.672-2.362s-1.043-0.746-1.911-0.746c-0.56,0-1.036,0.116-1.428,0.347
        c-0.393,0.231-0.689,0.623-0.893,1.176c-0.203,0.554-0.305,1.313-0.305,2.279c0,1.176,0.273,2.068,0.819,2.677
        c0.546,0.609,1.351,0.914,2.415,0.914c0.476,0,0.92-0.042,1.333-0.126s0.795-0.192,1.145-0.326c0.35-0.133,0.651-0.262,0.903-0.388
        v2.036c-0.49,0.21-1.043,0.382-1.659,0.515S773.422,114.898,772.652,114.898z"/>
      <path style="fill:#FFFFFF;" d="M782.773,114.898c-0.756,0-1.396-0.081-1.921-0.242c-0.525-0.16-1.04-0.36-1.544-0.599v-2.078
        c0.364,0.224,0.721,0.423,1.071,0.598c0.35,0.176,0.717,0.313,1.103,0.41c0.385,0.098,0.815,0.146,1.291,0.146
        c0.603,0,1.074-0.126,1.418-0.378c0.343-0.252,0.515-0.566,0.515-0.945c0-0.321-0.108-0.573-0.326-0.756
        c-0.217-0.182-0.493-0.336-0.829-0.462s-0.687-0.252-1.05-0.378c-0.378-0.098-0.756-0.213-1.134-0.347
        c-0.378-0.133-0.725-0.314-1.04-0.546c-0.314-0.23-0.566-0.528-0.756-0.893c-0.189-0.363-0.283-0.812-0.283-1.344
        c0-0.588,0.118-1.088,0.356-1.501s0.55-0.749,0.935-1.009c0.385-0.259,0.812-0.447,1.281-0.566
        c0.469-0.119,0.927-0.179,1.375-0.179c0.742,0.014,1.348,0.104,1.817,0.273c0.469,0.168,0.927,0.371,1.375,0.608l0.021,1.89
        c-0.505-0.266-0.98-0.496-1.429-0.692s-0.966-0.294-1.554-0.294c-0.546,0-1.001,0.102-1.365,0.305s-0.546,0.5-0.546,0.893
        c0,0.336,0.102,0.602,0.305,0.798s0.469,0.35,0.798,0.462s0.683,0.224,1.061,0.336c0.35,0.112,0.714,0.228,1.092,0.347
        s0.729,0.29,1.05,0.514c0.322,0.225,0.585,0.519,0.788,0.883s0.305,0.84,0.305,1.428c-0.015,0.784-0.221,1.421-0.62,1.911
        c-0.398,0.49-0.921,0.847-1.564,1.07C784.125,114.786,783.46,114.898,782.773,114.898z"/>
      <path style="fill:#FFFFFF;" d="M793.295,114.856c-0.953,0-1.705-0.252-2.258-0.757c-0.554-0.504-0.83-1.245-0.83-2.226v-6.006h-1.7
        v-1.827h1.7v-2.94h2.269v2.94h2.562v1.827h-2.562v5.564c0,0.49,0.087,0.858,0.263,1.103c0.175,0.245,0.5,0.368,0.977,0.368
        c0.237,0,0.476-0.032,0.714-0.095c0.237-0.063,0.44-0.144,0.608-0.241v1.952c-0.252,0.112-0.535,0.196-0.851,0.253
        C793.872,114.828,793.574,114.856,793.295,114.856z"/>
      <path style="fill:#FFFFFF;" d="M797.6,102.361v-1.995h2.353v1.995H797.6z M797.663,114.583v-10.479h2.205l0.021,10.479H797.663z"/>
      <path style="fill:#FFFFFF;" d="M803.06,104.902c0.308-0.154,0.654-0.298,1.04-0.431c0.385-0.133,0.794-0.249,1.229-0.347
        c0.434-0.098,0.875-0.175,1.322-0.231c0.448-0.056,0.883-0.084,1.303-0.084c0.993,0,1.806,0.137,2.436,0.41
        c0.63,0.272,1.099,0.692,1.407,1.26c0.308,0.567,0.462,1.277,0.462,2.132v6.972h-2.205v-6.678c0-0.266-0.031-0.528-0.095-0.788
        c-0.063-0.259-0.182-0.496-0.356-0.714c-0.176-0.217-0.428-0.389-0.756-0.515c-0.329-0.126-0.76-0.188-1.292-0.188
        c-0.378,0-0.767,0.035-1.165,0.104c-0.399,0.07-0.774,0.168-1.124,0.294v8.484h-2.205V104.902z"/>
      <path style="fill:#FFFFFF;" d="M816.815,118.657c-0.267,0-0.519-0.024-0.757-0.073c-0.237-0.05-0.448-0.109-0.63-0.179v-1.891
        c0.168,0.056,0.336,0.105,0.504,0.147s0.351,0.063,0.547,0.063c0.42,0,0.77-0.112,1.05-0.336c0.279-0.224,0.518-0.546,0.714-0.966
        c0.195-0.42,0.356-0.924,0.482-1.512l0.042,1.092l-4.493-10.962h2.499l3.045,8.316h-0.315l3.003-8.316h2.289l-4.347,11.193
        c-0.351,0.896-0.729,1.592-1.134,2.089c-0.406,0.497-0.823,0.844-1.25,1.04C817.638,118.559,817.221,118.657,816.815,118.657z"/>
      <path style="fill:#FFFFFF;" d="M832.963,114.583v-1.785c0.476-0.321,1.012-0.717,1.606-1.187c0.596-0.469,1.19-0.99,1.785-1.564
        s1.141-1.172,1.639-1.795c0.496-0.623,0.898-1.239,1.207-1.849c0.308-0.608,0.462-1.193,0.462-1.753
        c0-0.42-0.091-0.806-0.272-1.155c-0.183-0.35-0.49-0.63-0.925-0.84c-0.434-0.21-1.008-0.315-1.722-0.315
        c-0.771,0-1.456,0.144-2.058,0.431c-0.603,0.287-1.135,0.599-1.597,0.935v-2.184c0.504-0.309,1.1-0.581,1.785-0.819
        s1.477-0.357,2.373-0.357c1.105,0,2.009,0.186,2.709,0.557s1.215,0.868,1.544,1.491c0.328,0.623,0.493,1.313,0.493,2.068
        c0,0.645-0.147,1.288-0.441,1.932c-0.294,0.645-0.682,1.274-1.165,1.891s-1.012,1.207-1.586,1.774
        c-0.574,0.566-1.151,1.092-1.732,1.575c-0.581,0.482-1.116,0.913-1.606,1.291l-0.546-0.524h7.309v2.184H832.963z"/>
      <path style="fill:#FFFFFF;" d="M847.201,110.908l-0.252-10.332h2.142l-0.23,10.332H847.201z M846.949,114.583v-1.974h2.163v1.974
        H846.949z"/>
    </g>
    <g class="hidden md:block">
      <polygon style="fill:#CEAE33;" points="75.581,31 117.052,25.118 101.757,16 45.875,16 30.581,25.118 71.757,31 	"/>
      <polygon style="fill:#CEAE33;" points="120.847,113.418 104.466,152.791 119.985,143.307 147,95.888 147,79.219 	"/>
      <polygon style="fill:#CEAE33;" points="0,78.931 0,95.313 27.015,143.02 42.247,152.216 26.153,112.844 	"/>
      <rect x="86.719" y="40" style="fill:#CEAE33;" width="28" height="2"/>
      <rect x="33.719" y="40" style="fill:#CEAE33;" width="28" height="2"/>
      <path style="fill:#CEAE33;" d="M114.683,116.279l1.38-3.514l-1.359-0.766C114.698,113.511,114.691,114.941,114.683,116.279z"/>
      <path style="fill:#CEAE33;" d="M33.719,48.519c-0.004-0.286,0.015-0.572,0.057-0.855c0.021-0.121,0.14-0.231,0.326-0.524
        c8.561,3.427,18.099,3.367,26.617-0.168v44.461l10.872-6.233c-0.014-12.502-0.029-25.161-0.045-38.962
        c-0.015-0.071-0.049-0.137-0.1-0.189c-0.084-0.091-0.173-0.177-0.268-0.257l-1.884-0.305c-0.246-0.192-0.476-0.405-0.688-0.635
        c-1.197-1.58-2.803-1.89-4.724-1.89C53.132,43.037,42.366,43,31.611,43h-2.134l-4.75-6h41.982l2.668-2h1.652l-1.041-1.189
        l-41.097-5.748L1.589,74.908l27.302,34.774l4.875-2.795L33.719,48.519z"/>
      <polygon style="fill:#CEAE33;" points="33.769,110.877 30.42,112.765 33.777,121.469 	"/>
      <path style="fill:#CEAE33;" d="M87.532,127c-0.196-0.737-0.346-14.545-0.415-30.554l-10.199-5.75
        c-0.013,15.531,0.009,32.288,0.066,45.303h-5.337c-0.016-16.556-0.033-31.472-0.05-46.449l-10.877,6.132v31.322H35.913L45.939,153
        h54.317l10.214-26H87.532z"/>
      <path style="fill:#CEAE33;" d="M119.396,27.776l-41.385,5.748L76.72,35h2.508l2.679,3h41l-4.01,5h-2.261
        c-9.599,0-20.882,0-31.421,0c-3.843,0.005-2.814-0.398-5.811,2.389c-0.061,0.031-0.122,0.063-0.183,0.094l-2,0.373
        c-0.168,0.799-0.266,18.33-0.296,39.354l10.173,5.832c-0.059-19.075-0.003-39.5,0.225-44.063c9.042,3.54,18.05,3.579,27.025,0.115
        c0.283,1.177,0.426,36.473,0.372,59.785l4.389,2.517l27.302-34.774L119.396,27.776z"/>
    </g>
  </svg>
</template>
