<script setup lang="ts">
import { Quria, GroupType, GroupV2 } from 'quria'
import { ref, onMounted, onBeforeUnmount, inject, Ref } from 'vue'
import { type AccountResult, formatUsername } from '@wastedondestiny/destiny-library'
import AccountPicker from './AccountPicker.vue'

const emit = defineEmits(['search'])

const searchTerm = ref('')
const loading = ref(false)
const accounts = ref([] as AccountResult[])
const clan = ref<GroupV2>()
const searchBar = ref<HTMLInputElement | null>(null)
const quria = new Quria({
  API_KEY: import.meta.env.VITE_BUNGIE_API_KEY
})

async function clanSearch(value: string) {
  const search = await quria.groupv2.GetGroupByNameV2(value, GroupType.Clan)
  if (search.Response) clan.value = search.Response.detail
}

async function search() {
  clan.value = undefined

  if (!searchTerm.value) return

  loading.value = true

  await clanSearch(searchTerm.value)

  loading.value = false
}

function select(account: AccountResult|null) {
  accounts.value = []
  clan.value = undefined
  searchTerm.value = ''

  if (account) emit('search', account)
}

function onEnterPress(event: KeyboardEvent) {
  if (event.key === 'Enter') search()
}

onMounted(() => { searchBar.value?.addEventListener('keypress', onEnterPress) })
onBeforeUnmount(() => { searchBar.value?.removeEventListener('keypress', onEnterPress) })
</script>

<template>
  <div class="flex flex-col items-center relative">
    <div class="relative">
      <input class="py-2 pl-4 pr-28 w-72 md:w-96 h-12 rounded-3xl bg-white outline-none"
        aria-label="Search bar" type="text" ref="searchBar" placeholder="Search a clan…" v-model="searchTerm" />
      <div v-if="loading" class="absolute top-0 right-0 w-24 h-10 p-1 m-1 rounded-3xl bg-[#cdad33] text-white text-3xl leading-7 font-serif font-bold flex gap-2 justify-center">
        <span class="transition-opacity bullet-1">&bullet;</span>
        <span class="transition-opacity bullet-2">&bullet;</span>
        <span class="transition-opacity bullet-3">&bullet;</span>
      </div>
      <button v-else class="absolute top-0 right-0 w-24 h-10 p-2 m-1 rounded-3xl bg-[#cdad33] text-white hover:bg-[#cdad33]" @click="search">SEARCH</button>
    </div>
    <AccountPicker :clan="clan" @select-clan="select" @cancel="() => select(null)" />
  </div>
</template>
